<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <span *ngFor="let item of menu; let i = index">
        <li
          [ngClass]="checkActiveItem(item)"
          *ngIf="i === 0 || routeActive.startsWith(item.route)"
        >
          <a
            (click)="i === 0 ? backToList() : ''"
            mat-flat-button
            class="p-0 breadcrumb-button"
          >
            {{ item.submenu | translate }}
          </a>
        </li>
      </span>
    </ol>
  </nav>
</div>
