<mat-nav-list class="no-print">
  <mat-list-item class="menu-icon-list-item">
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <img
      src="../../../../assets/images/menuicon.png"
      alt="soc"
      *ngIf="menuOpen"
    />
  </mat-list-item>

  <mat-list-item
    (click)="toggleMenuMobile()"
    routerLink="/user"
    routerLinkActive="active"
    class="menu-list-item"
  >
    <mat-icon>account_circle</mat-icon>
    <p *ngIf="menuOpen">{{ 'user.users' | translate }}</p>
</mat-list-item>
</mat-nav-list>
