@import '_variables';

.login-container {
  .login-form {
    display: flex;
    flex-direction: column;

    mat-form-field {
      margin-bottom: 10px;
    }
  }

  .login-options {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;

    button {
      font-family: 'Satoshi-regular';
      margin: 25px 0;
    }

    .forgot-password {
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        color: $color-brand-primary-light;
        font-family: 'Satoshi-medium';
      }
    }
  }
}
